body {
    margin: 0;
    background-image: url(../images/premios-interstellar2.jpg);
    background-color: rgb(8, 8, 8);
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position-x: center;
}
h1 {
    font-family: 'LibreBaskerville-bold';
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 1rem;
    text-shadow: black 2px 2px 8px;
    user-select: none;
    margin-bottom: 32rem;
}
h2 {
    font-family: 'LibreBaskerville-bold';
    color: rgb(255, 252, 238);
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 15rem;
    margin: auto;
    text-shadow: black 2px 2px 8px;
    user-select: none;
}
p {
    color: rgb(255, 252, 238);
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    word-spacing: 0.4rem;
    font-family: 'BebasNeue-Regular';
    line-height: 28px;
    text-align: center;
    text-shadow: black 2px 2px 8px;
    padding: 15px;
    margin: 0;
}
.contenedor-c-y-p {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 40px;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 10px;
    align-items: left;
    height:auto;
}
.desktop-version {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    background-size: auto;
    background-color: rgb(8, 8, 8);
    background: linear-gradient(0deg, rgb(8, 8, 8, 36) 93.1%, rgba(8, 8, 8, 1) 93%, rgba(8, 8, 8, 0.02) 100%);
    z-index: 2;
    width: 100%;
}
img.imagen-demostrativa {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 15px;
}
img {
    height: auto;
    border-radius: 10px;
    align-items: center;
    border: 2px solid #c04215;
}
#parrafo4 {
    text-align: left;
}
#parrafo5 {
    text-align: left;
    padding:0px;
    margin-top: -30px;
}
@media (min-width: 720px) {
    body {
        background-size: auto;
    }
    img.imagen-demostrativa {
        width: 100%;
        display: flex;
        margin: auto;
        flex-direction: row;
    }
    p {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .contenedor-c-y-p{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: auto;
        min-height: 100vh;
        background-size: auto;
        background-color: rgb(8, 8, 8);
        background: linear-gradient(0deg, rgb(8, 8, 8, 36) 93.1%, rgba(8, 8, 8, 1) 93%, rgba(8, 8, 8, 0.02) 100%);
        z-index: 2;
        width: 60%;
    }
    h1 {
        font-size: 2.8rem;
        letter-spacing: 0.8rem;
        margin-inline-end: auto;
        padding-left: 3rem;
        margin-top: 60px;
        margin-bottom: 25rem;
    }
    #parrafo4 {
        text-align: left;
        line-height: 2rem;
    }
}







